    <!-- ===========================
    PORTFOLIO SECTION START
    =========================== -->
    <div id="portfolio">
        <div class="sectionhead wow bounceInUp" data-wow-duration="2s">
          <span class="bigicon icon-rocket"></span>
           <h3>A few recent works</h3>
           <hr class="separetor">            
        </div><!-- PORTFOLIO SECTION HEAD END -->   
        
        <div class="portfolioitems container">
            <div ng-include="'templates/project.html'">
                        
            
            
            
            </div>
        </div><!-- PORTFOLIO ITEMS END -->
        
        
     
    </div><!-- PORTFOLIO SECTION END -->

